.DS_Store
/build
/fdasrsf/__pycache__
*.fdb_latexmk
*.fls
*.aux
*.ilg
*.ind
*.log
*.toc
*.pyc
/dist
fdasrsf.egg-info/
build
.vscode/
src/cbayesian.cpp
src/fpls_warp.c
src/mlogit_warp.c
src/oclogit_warp.c
src/optimum_reparam_N.c
src/optimum_reparamN2.c
src/ocmlogit_warp.c
